@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  --paragraph-size: 15px;
}
body {
  font-family: 'Outfit', sans-serif;
}
/* Start prodact style */
.prodact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Light-gray);

}
.prodact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  padding: 20px;
  border-radius: 20px;
  max-width: 375px;
}
.prodact .container img {
  max-width: 100%;
  border-radius: 10px;
}
.prodact .container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.prodact .container .text h3 {
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 20px;
  color: var(--Dark-blue);
  text-align: center;
}
.prodact .container .text p:last-child {
  font-size: var(--paragraph-size);
  color: var(--Grayish-blue);
  max-width: 250px;
  text-align: center;
}
/* End prodact style */